<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ошибка 404</title>
    <link rel="stylesheet" href={{style}}>
</head>
<body>
    <div align="justify">
        <h1 class="error_404">Ошибка 404</h1>
        <h2>Файл не найден</h2>
        <h2>Для исправления ошибки попробуйте:</h2>
        <ol>
            <li>Проверить правильность написания адреса страницы</li>
            <li>Проверить существования данных</li>
            <li>Перезапустить сервер</li>
        </ol>
    </div>
</body>
</html>