{% extends "base.html" %}

{% block content %}
{% if list == 'ol' %}
    <ol>
        <li>Инженер-исследователь</li>
        <li>Пилот</li>
        <li>Строитель</li>
        <li>Экзобиолог</li>
        <li>Врач</li>
        <li>Инженер по терраформированию</li>
        <li>Климатолог</li>
        <li>Специалист по радиационной защите</li>
        <li>Астрогеолог</li>
        <li>Гляциолог</li>
        <li>Инженер жизнеобеспеченья</li>
        <li>Метеоролог</li>
        <li>Оператор марсахода</li>
        <li>Киберинженер</li>
        <li>Штурман</li>
        <li>Пилот дронов</li>
    </ol>
{% else%}
    <ul>
        <li>Инженер-исследователь</li>
        <li>Пилот</li>
        <li>Строитель</li>
        <li>Экзобиолог</li>
        <li>Врач</li>
        <li>Инженер по терраформированию</li>
        <li>Климатолог</li>
        <li>Специалист по радиационной защите</li>
        <li>Астрогеолог</li>
        <li>Гляциолог</li>
        <li>Инженер жизнеобеспеченья</li>
        <li>Метеоролог</li>
        <li>Оператор марсахода</li>
        <li>Киберинженер</li>
        <li>Штурман</li>
        <li>Пилот дронов</li>
    </ul>
{% endif%}
{% endblock %}