{% extends "base.html" %}

{% block content %}
<table>
    <tr>
        <td>
            <a>Цвет стен</a>
        </td>
        <td>
            <a>Эмблема</a>
        </td>
    </tr>
    <tr>
        <td>
            <img src={{img_1}} alt="здесь должна была быть картинка, но не нашлась" height="389" width="584">
        </td>
        <td>
            <img src={{img_2}} alt="здесь должна была быть картинка, но не нашлась" height="389" width="584">
        </td>
    </tr>
</table>
{% endblock %}